@model  List<ConceptMaker.Models.Ingredient>
@{
    /**/

    ViewBag.Title = "ChoseIngredients";
}

<div class="jumbotron">
    <h1>Konfigurujemy</h1>
</div>
<h2>część 3  ostatnia </h2>
<h2> Elementy które pasują do wybranej instancji : </h2>

@using (Html.BeginForm("ChoseIngredients", "MakeConcept", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

}
<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseInstance.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubInstance.Name)
        </td>
        
        <td>
            @Html.ActionLink("Powrót do ponownego wyboru ->", "SendMail",new { id = item.Id })

        </td>
    </tr>
    }
</table>




    </dl>

