@model IEnumerable<ConceptMaker.Models.Concept>


@{
    /**/

    ViewBag.Title = "Konfiguracja";
}

<div class="jumbotron">
   
    <h1>Konfigurujemy   <img src="~/Photos/configureinprogress.png" width="90" height="90" allign="left" /> </h1>



</div>


<h4>Wybrales kategorie czas na wybor pojecia z wybranej kategorii: </h4>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>
                Kategoria
            </th>
            <th>
                Elementy w Kategorii
            </th>
            <th>
                Wybor:
            </th>
        </tr>
    </thead>


    

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Przejdz Dalej", "ChoseInstance", new { id = item.Id })

                </td>
            </tr>
        }

</table>
