@model  IEnumerable<ConceptMaker.Models.Ingredient>
@{
    /**/

    ViewBag.Title = "ChoseInstance";
}

<div class="jumbotron">
    <h1>Konfigurujemy</h1>
</div>
<h2>część 2.. </h2>

@using (Html.BeginForm("ChoseInstance", "MakeConcept", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Przejdz Dalej", "ChoseIngredients", new { id = item.Id, usedcondeptid = item.ConceptId, usedfirstinstance = item.Id })

            </td>
        </tr>
    }
</table>




    </dl>

