@model IEnumerable<ConceptMaker.Models.Category>

@{

    ViewBag.Title = "Konfiguracja";
}
<div class="jumbotron">
    <h1>Konfigurujemy     <img src="~/Photos/configureinprogress.png" width="90" height="90" allign="left" /> </h1>



</div>
<h2>część 1.. </h2>

<h4>Wybierz Kategorie ktorej potrzebujesz: </h4>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th >
                @Html.ActionLink("Nazwa Kategorii", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th >
                Wybierz:
            </th>

        </tr>
    </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td >
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td >
                    @Html.ActionLink(" Wybierz i Przejdz Dalej", "ChoseCategory", new { id = item.Id })


                </td>
            </tr>
        }

</table>
