@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Przemysław Wiewiorka</h1>
    <p class="lead">Inzynierka Przemek</p>
    <p><a href="http://apps.ii.uph.edu.pl/" class="btn btn-primary btn-lg">Strefa Razenia Wiedza &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Poczatek projektu</h2>
        <p>
            To ja Przemek staram sie napisac moja prace inżynierską
        </p>
        <p><a class="btn btn-default" href="https://apps.ii.uph.edu.pl/Course/Details/25">Programowanie Zaawansowane app &raquo;</a></p>
    </div>

</div>