@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Przemysław Wiewiorka</h1>
    <p class="lead">Concept Maker w ramach aplikacji na zaliczenie przedmiotu Programowanie zaawansowane</p>
    <p><a href="http://apps.ii.uph.edu.pl/" class="btn btn-primary btn-lg">Strefa Razenia Wiedza, różne kursy &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Przydatne linki</h2>
        
        <p><a class="btn btn-default" href="https://apps.ii.uph.edu.pl/Course/Details/25">Programowanie Zaawansowane kurs na stefie &raquo;</a></p>
    </div>

</div>